@import "../node_modules/@syncfusion/ej2-base/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-vue-buttons/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-vue-popups/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-vue-inputs/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-vue-calendars/styles/tailwind.css";
@import "../node_modules/@syncfusion/ej2-vue-dropdowns/styles/tailwind.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
        font-size: 2.0325rem;
    }

    h2 {
        font-size: 1.626rem;
    }

    h3 {
        font-size: 1.42275rem;
    }

    h4 {
        font-size: 1.2195rem;
    }

    h5 {
        font-size: 1.01625rem;
    }

    h6 {
        font-size: 0.813rem;
    }
}

:root,
#root,
#docs-root {
    --primary: #367ee9;
    --secondary: #a0aec0;
    --accent: #718096;
    --background: #fff;
    --main: #0d0106;
    --header: #2d3748;
}
